@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 400px !important;
    margin: 0 auto !important;
    padding: 10px 20px !important;
}

.link {
    text-decoration: none;
}

.logo {
    font-family: "Dancing Script", cursive !important;
    font-size: 18px !important;
    margin: 0 !important;
}

.mb-10 {
    margin-bottom: 10px;
}